<!DOCTYPE html>
<html lang="no_SV" ng-app="timeregApp">
    <head>
        <meta charset="utf-8">
        <title>Angular App</title>
        <meta name="viewport" content="width=device-width">
        <!-- see http://purecss.io/  -->
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
        <link rel="stylesheet" href="styles/main.css">
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Play:700,400' type='text/css'>        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="http://iop.io/js/vendor/polymer/PointerEvents/pointerevents.js"></script>
        <script type="text/javascript" src="http://iop.io/js/vendor/polymer/PointerGestures/pointergestures.js"></script>
        <script type="text/javascript" src="http://iop.io/js/iopctrl.js"></script>

        <script src="js/services.js"></script>
        <script src="js/chartServices.js"></script>
        <script src="js/controllers.js"></script>
        <script src="bower_components/d3/d3.js"></script>
        <script src="bower_components/nvd3/nv.d3.js"></script>
     </head>
    
    <body ng-controller="TimeSheetCtrl">
    <h2 >Timeliste browser</h2>
        <div id="app">
        <div ng-show="userloggedin">
            <label>Logged in as: {{username}}</label>
            <button ng-click="logout()">Log out</button>
        </div>

            <form name="loginForm" ng-submit="login()">
                    <label ng-hide="userloggedin">username</label>
                    <input ng-hide="userloggedin" ng-model="credentials.username" type="text" required>
                    <label ng-hide="userloggedin">password</label>
                    <input ng-hide="userloggedin" ng-model="credentials.password" type="text" required>
                    <button ng-hide="userloggedin" type="submit">Login</button>
            </form>
         <button ng-show="userloggedin" ng-click="getTimelister()">Hent timelister</button>
            <table ng-show="userloggedin" class="pure-table pure-table-horizontal">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>periode</th>
                        <th>måned</th>
                        <th>Til</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entry in entries">
                        <td>{{entry.id}}</td>
                        <td>{{entry.periode.aar}}</td>
                        <td>{{entry.periode.mnd}}</td>
                        <td>{{entry.status}}</td>
                    </tr>
                </tbody>
            </table>            
        </div>

     <button ng-click="displayChart()">Dashboard</button>
        <table ng-show="displayDashboard">
            <th>MONTH OVERVIEW</th>
            <tr>
                <td><div class="speedo" id="workSpeedChartArea"/></td>
                <td><div class="speedo" id="faktureringChartArea"/></td>
                <td><div id="chartArea"/></td>
            </tr>
            <tr>
                <td>SPEED (hours/day)</td>
                <td>FAKTURERINGSGRAD (%)</td>
                <td>OVERVIEW per category
                    <button ng-click="toggleChartType()">Toggle ChartType</button>
                </td>
            </tr>
        </table>
        
        


    </body>
</html>
